*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Roboto;
}
body{
    display: flex;
    flex-wrap: wrap;
    background-image: url(../img/bg-2.png);
    align-items: center;
    justify-content: center;
}
header{
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.logo{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-bottom: 12px;
    margin-top: 12px;
   
}
.headerUno{
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
}

.headerDos a{
  margin:10px
}

.form_header{
    display: flex;
    padding: 4px;
    width: 100%;
    
}

.header_button{
padding: 1px;
margin: 2px;
margin-left: 10px;
border: none;
border-radius: 5px;

}
.header_input{
height: 3px;
margin: 4px;
}



main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin-top: 15px;
}
a{
    text-decoration: none;
    color: white;
}
li{
    text-decoration: none;
    margin-right: 20px;
}
ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
}
.containerUno{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 78%;
}
.containerUno section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.containerDos{
    display: flex;
    flex-wrap: wrap;
    width: 10%;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.artprin{
    width: 15%;
    margin: 10px;
}
.artprin div{
    display: flex;
    justify-content: center;
    background-color: grey;
    width: 90px;
    padding: 5px;
    margin-top: 7px;
    border-radius: 5px;
    
}
.artprin img{
   width: 100%;
}

.artprin p{
  margin-top: 7px;
}

.texto{
    background-color: white;
    width: 100%;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 10px;
}
.texto a{
    color: black;
    margin-top: 10px;
    display: block;
}

footer{
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
footer p{
    font-family: roboto;
    color: white;
    margin: 10px;
}
.redes{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-left: 20px;
}
.redes img{
    width: 27px;
    margin: 8px;
}


.section_buscadorback{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_buscadorback h1{
    margin: 20px;
}



/* LOGIN */
.login-page {
  height: 55vh;
  display: flex;
  justify-content: center;
}
.login-container {
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}
.login-title {
  margin-bottom: 20px;
  color: #333;
  font-family: Arial, sans-serif;
}
.login-label {
  text-align: left;
  margin: 10px 0 5px;
  font-size: 14px;
  color: black;
  font-size: large;
}
.login-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.login-button {
  width: 100%;
  padding: 10px;
  background: rgb(78, 78, 78);
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}
.login-link {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #007BFF;
  text-decoration: none;
  font-family: Arial, sans-serif;
}





/* REGISTER */

.container {
  max-width: 500px;
  margin: auto;
}

.h1_registerlogin {
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

form {
  background: rgba(255,255,255,0.6);
  padding: 20px;
  border-radius: 10px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select{
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}


input[type="checkbox"],
input[type="radio"] {
  margin-right: 5px;
}

.obligatorio {
  display: block;
  font-size: 12px;
  color: red;
  margin-bottom: 10px;
}

input[type="submit"],
input[type="reset"] {
  margin: 10px 5px 20px 0;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background: #ddd;
}



/* product.html */ 
.info {
display: flex;
align-items: flex-start;
margin-bottom: 40px;
}

.info img {
max-width: 300px;
height: auto;
border-radius: 5px;
}

.descripcion {
max-width: 600px;
margin-left: 30px;

}

.descripcion h1 {
margin-bottom: 20px;

}

.descripcion p {
margin: 10px;
}

.reseñas {
padding: 20px;
background-color: rgba(0, 0, 0, 0.05);
}

.reseñas h3 {
margin-bottom: 15px;
}

.reseñas p {
  margin: 10px;
}